<h2>Nouvelle commande</h2>
<p><strong>Client :</strong> <%= @first_name %> <%= @last_name %> (<%= @customer_email %>)</p>

<ul>
  <% @cart.each do |item| %>
    <li><%= item["qty"] %> x <%= item["name"] %> – <%= number_to_currency(item["price"]) %></li>
  <% end %>
</ul>
